
label{
  text-align: right !important;
}
ul.sidebar-menu li a{
    padding: 7px 0 7px 7px;
}
ul.sidebar-menu li ul.sub li a{
    padding: 5px 0;
}
ul.sidebar-menu li ul.sub li a{
    line-height:30px;
}
#sidebar .sub-menu > .sub li:last-child{
    padding-bottom: 0px;
}
.sidebar-menu h5 a{
    color: #ffffff;
}
a h4{
    color: #ffffff;
}
.pn{
    height: 150px;
}
#sidebar .sub-menu > .sub li{
    padding-left: 20px;
}
.red{
    color:#df4c4d;
}
.form-horizontal.style-form .form-group{
    padding-top: 0px;
    padding-bottom: 10px;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{
    padding-top: 0px;
}
.change_tab h4{
    color: #000;
}
.nav-tabs{
    margin-bottom: 15px;
}
.wrapper{
    background-color: #ffffff;
}
.center{
    text-align: center;
}
.table tr td{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.table tr th{
    text-align: center;
}
ul.top-menu > li > a{
    color: #ffffff;
}
.darkblue-header h4{
    color: #ffffff;
}
.sub li a.active, .sub li a.active span{
    background: none !important;
    color: #ffffff;
    text-decoration: underline;
}
.head_labels{
    padding-bottom: 10px;
}
.error{
    color: #df4c4d;
}
.role_head{
    padding-bottom: 20px;
}
.modal-header h4{
    color: #ffffff;
}
#sidebar li.sub-menu > a:after {
    color: #cccccc;
    content: ' ▾';
}
.mt{
    margin-top: 5px;
}
.form-horizontal.style-form .form-group{
    margin-bottom: 10px;
}
.darkblue-panel h4{
    font-size: 15px;
}
.darkblue-panel .darkblue-header{
    margin-bottom: 0px;
}
#main-content .wrapper h3, table, form lable{
    color: #000;
}
